<!DOCTYPE html>

<html>

<head>
    <title>
        EduWiki Prototype
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/bs3/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/index.css" rel="stylesheet">
</head>

<body>

    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">EduWiki</a>
            </div>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav">
                    <li><a href="/learn">Learn</a></li>
                    <li><a href="/build">Build</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>
    
    
    <div class="jumbotron">
        <div class="container">
            <div class="col-sm-9 col-sm-offset-1">
                <div class="row">
                    <h1>Hi! EduWiki is currently a prototype composed of two parts:</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <h1 class="text-center">EduWiki Prototype</h1>
                <p class="text-center">The first prototype of the EduWiki system itself. See our current progress!</p>
                <a href="/learn">
                    <button class="btn btn-primary center-block">See the prototype!</button>
                </a>
            </div>
            <div class="col-md-6">
                <h1 class="text-center">EduBuild</h1>
                <p class="text-center">A data-gathering tool to help build the EduWiki system. Know a bunch about something? Help our system learn about it!</p>
                <a href="/build">
                    <button class="btn btn-primary center-block">Help us out!</button>
                </a>
            </div>
        </div>
    </div>


    <script src="static/bs3/js/jquery-2.1.1.min.js"></script>
    <script src="static/bs3/js/bootstrap.min.js"></script>
</body>

</html>
