<!DOCTYPE html>

<html>
<head>
    <title>
        EduWiki Learn
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/bs3/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/main.css" rel="stylesheet">
</head>
<body>
    
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.min.js"></script>
    <script src="static/bs3/js/jquery-2.1.1.min.js"></script>
    <script src="static/bs3/js/bootstrap.min.js"></script>
</body>
</html>