<!DOCTYPE html>

<html ng-app="build">
<head>
    <title>
        EduWiki Build
    </title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="static/bs3/css/bootstrap.min.css" rel="stylesheet">
    <link href="static/css/main.css" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.0-beta.14/angular.min.js"></script>
    <script src="static/js/build.js"></script>
</head>
<body ng-controller="BuildController">

    <!-- NAVBAR -->
    <nav class="navbar navbar-default" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" data-target="#navbarCollapse" data-toggle="collapse" class="navbar-toggle">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">EduWiki</a>
            </div>
            <div class="collapse navbar-collapse" id="navbarCollapse">
                <ul class="nav navbar-nav">
                    <li><a href="/learn">Learn</a></li>
                    <li><a href="/build">Build</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/about">About</a></li>
                    <li><a href="/contact">Contact</a></li>
                </ul>
            </div>
        </div>
    </nav>



    <!-- REGISTER VIEW -->
    <div class="container" id="registerForm" ng-if="showReg">
        <div class="panel panel-default">
        <div class="panel-body">
        <div class="col-sm-offset-2 col-sm-8">
            <form ng-submit="regSubmit()">
                <h2>Please give us some information about yourself:</h2>
                <br>
                <div class="row">
                    <div class="form-group">
                        <label for="name">Name:</label>
                        <input ng-model="regData.name" id="name" type="text" class="form-control" placeholder="Joe Schmoe">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="email">Email:</label>
                        <input ng-model="regData.email" id="email" type="email" class="form-control" placeholder="joe@schmoe.net">
                    </div>
                </div>
                <div class="row">
                    <div class="form-group">
                        <label for="topic">Topic:</label>
                        <input ng-model="regTopic.topic" id="topic" type="text" class="form-control" placeholder="Where would you like to start?">
                    </div>
                </div>
                <br>
                <button class="btn btn-primary btn-lg btn-block" type="submit">Submit</button>
            </form>
        </div>
        </div>
        </div>
    </div>


    <!-- MAIN VIEWS -->
    <div class="container" ng-if="!showReg">

        <!-- TREE VIEW -->
        <div class="col-sm-3 well" id="treeview">
            <script type="text/ng-template"  id="tree_item_renderer.html">
                <button class="btn btn-link" ng-click="showReview(node)" ng-disabled="node.done">{{ node.name }}</button>
                <ul class="tree">
                    <li ng-repeat="node in node.children" ng-include="'tree_item_renderer.html'"></li>
                </ul>
            </script>
            <ul class="tree">
                <li>
                    <button class="btn btn-link" ng-click="showReview(tree)" ng-disabled="tree.done">{{ tree.name }}</button>
                    <ul class="tree">
                        <li ng-repeat="node in tree.children" ng-include="'tree_item_renderer.html'"></li>
                    </ul>
                </li>
            </ul>
        </div>

        <div class="col-sm-9">
            <div class="container-fluid">

                <!-- PREREQ VIEW -->
                <div class="row" ng-if="showReqs">
                    <h2>Choose a prerequisite for this topic to continue, or choose one from the tree menu.</h2>
                    <div class="col-md-4" id="prereq" ng-repeat="req in topic.children">
                        <button class="btn btn-primary btn-block btn-lg" ng-click="showReview(req)">{{ req.name }}</button>
                    </div>
                </div>

                <!-- BUILD VIEW -->
                <div class="row" ng-if="showReview">
                <div class="col-xs-12">
                    <div class="panel panel-default" ng-class="reviewDisabled">
                        <div class="panel-heading">
                            <h2>{{ topic.name }} is:</h2>
                        </div>
                        <table class="table">
                            <tr class="success">
                                <td>Correct answer: {{ topic.description }}</td>
                            </tr>
                            <tr class="info">
                                <td><h3>Distractor answers: (check the good ones)</h3></td>
                            </tr>
                            <tr ng-repeat="distractor in topic.distractors">
                                <td><input ng-model="distractor.isGood" type="radio" ng-value="true" ng-disabled="reviewDisabled">Good
                                <input ng-model="distractor.isGood" type="radio" ng-value="false" ng-disabled="reviewDisabled">Bad
                                &nbsp;&nbsp;{{ distractor.snippet }} &nbsp;<small>taken from the page on: {{ distractor.pagetitle }}</small></td>
                            </tr>
                            <tr>
                                <td><textarea ng-model="revData.addDist" class="form-control col-xs-12" rows="5" placeholder="Add your own distractor" style="resize:vertical" ng-disabled="reviewDisabled"></textarea></td>
                            </tr>
                            <tr class="info" ng-if="topic.parent">
                                <td><h4>Would you consider this a prerequisite for learning about {{ topic.parent }}?</h4>
                                    <input ng-model="formData.isPrereq" type="radio" ng-value="true" ng-disabled="reviewDisabled">Yes
                                    <input ng-model="formData.isPrereq" type="radio" ng-value="false" ng-disabled="reviewDisabled">No</td>
                            </tr>
                            <tr>
                                <td>
                                    <button class="btn btn-primary pull-right" type="submit" ng-click="revSubmit()" ng-disabled="reviewDisabled">Submit this review</button>
                                </td>
                            </tr>
                        </table>
                    </div>
                    </div>
                </div>

            </div>
        </div>
    </div>


    <script src="static/bs3/js/jquery-2.1.1.min.js"></script>
    <script src="static/bs3/js/bootstrap.min.js"></script>
</body>
</html>
